<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171091262233-9483fskc2t9g8tcspcfaor6s7a3re16q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171091262233-9483fskc2t9g8tcspcfaor6s7a3re16q</string>
	<key>API_KEY</key>
	<string>AIzaSyD2sMKEzuNh5I1YlKxZXqC8Jr-G6ZNAE1I</string>
	<key>GCM_SENDER_ID</key>
	<string>171091262233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tfs.forestarapp</string>
	<key>PROJECT_ID</key>
	<string>tamufirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>tamufirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:171091262233:ios:02ac5cde9fcda05bf0a388</string>
	<key>DATABASE_URL</key>
	<string>https://tamufirebase.firebaseio.com</string>
</dict>
</plist>
